@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";


@theme {
  --font-primary: "Open Sans", "serif";
  --color-background: linear-gradient(90deg, #540654, #cc0d85 50%, #540654 100%, #00d4ff 0);
  --color-btn: linear-gradient(90deg, rgb(173, 50, 162), rgb(88, 3, 74));
  
}

.bg-custom-gradient {
  background: var(--color-background);
}

.bg-btn {
  background: var(--color-btn);
}